{% extends "main.html" %}
{% block content %}
<div class="col-sm-6 col-sm-offset-3">
<h1>{{ title }}</h1>
    {% for article in object_list %}
        <div class="row">
           <div class="col-sm-12">
            <div class="thumbnail">
                {% if article.image %}
                <img src="{{ article.image.url }}" class="img-responsive" alt="">
                {% endif %}
                <div class="caption">
                  <h3><a href="{{article.get_absolute_url}}">{{ article.title }}</a><small> {{ article.created | timesince }} ago </small></h3>
                  <p>{{ article.content | truncatechars:100 }}</p>
                  <p><a href="{{article.get_absolute_url}}" class="btn btn-default" role="button">Read More</a></p>
                </div>
            </div>
           </div>
        </div>
    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

</div>
{% endblock content %}