{% extends "main.html" %}
{% block content %}
<div class="col-sm-6 col-sm-offset-3">
<h1>{{ title }}</h1>
    {% for article in object_list %}
        <div class="row">
           <div class="col-sm-12">
            <div class="thumbnail">
            {#<img src="..." alt="...">#}
              <div class="caption">
                <h3><a href="{{article.get_absolute_url}}">{{ article.title }}</a><small> {{ article.created | timesince }} ago </small></h3>
                <p>{{ article.content | truncatechars:100 }}</p>
                <p><a href="{{article.get_absolute_url}}" class="btn btn-default" role="button">Read More</a></p>
              </div>
            </div>
           </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}